html,body{
	margin:0;
}
  
  #setting-main{
  	width:100%;
  	padding-top:15px;
  }
  
  #setting-main #setting-left{
  	width:20%;height:auto;float:left;
  }
  
   #setting-main #setting-left ul{
  	
  }
  
 
  
  
  #setting-main #setting-right{
	width:79.7%;height:auto;float:right;	
  }
  
